.stats{
    display: flex;
    gap: 15px;
    margin: 15px;
    justify-content: center;
    
    background-color: red;
    border: 20px solid blue;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI'
    


}

#container{

    border: 10px solid ghostwhite;
    height: 1200px;
    width: auto;

    margin: auto;

    display: grid;
    grid-template-columns: repeat(3,auto);

    justify-content: center;
    align-content: center;
    
    background: rgb(83, 225, 225);

    
    
}

.box{

    display: inline-block;
    background-color:aqua ;
    margin: 10px;

    justify-content:center;
    justify-items: center;

}

#print{

    height: 150px;
    width: 150px;

    background-color: red;
    display: inline-block;
    margin: 20px;
    font-size: 50px;
}