* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.stats{
    display: flex;
    flex-wrap: wrap;

    width:100%;
    padding: 10px;
    justify-content: center;

    text-align: center;
    font-weight: bold;

    gap: 30px;
  
    background-color: red;
    border: 10px solid blue;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI';


}

#container{

    border: 10px solid ghostwhite;

    width: 95vw;
    max-width: 650px;

    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-content: center;

    gap: 10px;
    margin: 20px auto;

    background: rgb(83, 225, 225);

    
    
}

.box{

    display: inline-block;
   
    background-color: red;
    justify-content:center;
    justify-items: center;

    width: 100%;
    aspect-ratio: 1/1;

}

#print{

    height: 250px;
    width: 250px;

    background-color: red;
    display: inline-block;
    padding: 50px;
    font-size: 50px;
    
}

#highScore {
  
position: absolute;
right: 1em;

}


.game-over{

  opacity:0 ;
  pointer-events: none;

  position: absolute;
  height: 100%;
  width: 100%;

 
  font-family: 'Inconsolata', monospace;
  transition: all 250ms ease;

  background-color: rgba(0, 0, 0, 0.7);






}

.title {

  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  font-size: 150px;

  

 
}

.button {

  height:100px;
  width: 100px;

  background-color: black;
  color: white;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  
  
}

