/* box shadow and text shadow from BroCode */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  scrollbar-width: auto;
  background-color: black;
  color: hotpink;
}

.stats{
  opacity: 0;
    display: flex;
    flex-wrap: wrap;

    width:100%;
    padding: 10px;
    justify-content: center;

    text-align: center;
    font-weight: bold;

    gap: 30px;
  
    background-color: black;
    border: 3px solid red;
    color: hotpink;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI';
    text-shadow: 0 0 5px hotpink;
    box-shadow: 0 0 10px red;


}

#container{


    width: 95vw;
    max-width: 650px;

    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-content: center;

    gap: 10px;
    margin: 20px auto;

    background-color: hotpink;
    border: 5px solid red;
    box-shadow: 0 0 10px hotpink;

    
    
}

.box{

    display: inline-block;
   
    background-color: darkred;
    box-shadow: 0 0 10px hotpink;
    justify-content:center;
    justify-items: center;

    width: 100%;
    aspect-ratio: 1/1;

}

#print{

    height: 250px;
    width: 250px;

    background-color: red;
    display: inline-block;
    padding: 50px;
    font-size: 50px;
    
}

#highScore {
  
position: absolute;
right: 1em;

}


.game-over{

  opacity:0 ;
  pointer-events: none;

  position: absolute;
  height: 100%;
  width: 100%;

 
  font-family: 'Inconsolata', monospace;
  transition: all 250ms ease;

  background-color: rgba(0, 0, 0, 0.7);






}

.title {

  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  font-size: 150px;

  

 
}

.button {

  height:100px;
  width: 100px;

  background-color: black;
  color: hotpink;
  border: 2px solid red;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  
  
}

h1{
  font-size: 100px;
  margin: 50px;
display: flex;
justify-content: center;
color: deeppink;


}



.game {
  
  display: flex;
  justify-content: center;   
  align-items: center;

  height: 250px;
 max-width: auto;
  
  font-size: 40px;

  background-color:rgb(83, 80, 80);
  color: white;
  

}