* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.stats{
    display: flex;
    flex-wrap: wrap;

    width:100%;
    padding: 10px;
    justify-content: center;

    text-align: center;
    font-weight: bold;

    gap: 30px;
  
    background-color: red;
    border: 10px solid blue;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI';


}

#container{

    border: 10px solid ghostwhite;

    width: 95vw;
    max-width: 650px;

    margin: auto;

    display: grid;


    justify-content: center;
    align-content: center;

    gap: 10px;
    margin: 20px auto;

    background: rgb(83, 225, 225);

    
    
}

.box{

    display: inline-block;
    background-color:aqua ;
   
    justify-content:center;
    justify-items: center;

    width: 100%;
    aspect-ratio: 1/1;

}

#print{

    height: 250px;
    width: 250px;

    background-color: red;
    display: inline-block;
    padding: 50px;
    font-size: 50px;
    
}

